/* Standard */

.sysinfo tbody tr:hover {
  color: #8a2be2;
  background-color: #f3f3f3;
}

.sysinfo .version-unknown {
  color: var(--msg-error-color);
  background: var(--msg-error-background);
}

.sysinfo .version-disabled {
  color: var(--msg-warn-color);
  background: var(--msg-warn-background);
}

.sysinfo .version-distrib {
  color: var(--msg-success-color);
  background: var(--msg-success-background);
}

.sysinfo .version-obsolete {
  color: var(--msg-color);
  background: var(--msg-background);
}

.sysinfo .version-core {
  color: var(--msg-info-color);
  background: var(--msg-info-background);
}

pre.sysinfo {
  white-space: pre;
  margin: 0;
}

.sysinfo#phpinfo {
  h1 {
    text-indent: initial;
    width: initial;
  }

  a.outgoing img:not(.outgoing-js) {
    width: 5em;
    height: auto;
  }
}

.sysinfo#constants,
.sysinfo#dotclear-release,
.sysinfo#dotclear-config,
.sysinfo#phpinfo {
  td {
    word-break: break-all;
  }
}

.sysinfo#globals {
  ul {
    padding-inline-start: 1em;
  }
}

blockquote.sysinfo {
  font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
  color: #636363;
  font-style: italic;
  font-size: 1.125em;
  line-height: 1.33;
  quotes: '\201C' '\201D';
  margin-top: 1.7777778em;
  display: grid;
  width: fit-content;
}

blockquote.sysinfo:before,
blockquote.sysinfo:after {
  margin-top: 0;
  font-size: 3em;
  display: block;
  line-height: 0.25;
  color: #dcdcdc;
  margin-bottom: 0;
}

blockquote.sysinfo:before {
  content: open-quote;
  float: left;
  margin-right: 0.25em;
}

blockquote.sysinfo:after {
  content: close-quote;
  text-align: right;
}

#content details {
  padding: 0.25em;
  padding-left: 0.5em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#content details:first-of-type {
  border-top: 1px solid #ccc;
}

#expand-all {
  color: var(--body-background);
  background-color: var(--body-color);
  font-weight: bold;
}

/* Source preview (compiled template, static cache) */

.tpl_compiled_view,
.sc_compiled_view {
  width: auto;
  background: #fff;
}

.tpl_compiled_view h1,
.sc_compiled_view h1 {
  font-weight: bold;
  width: initial;
  text-indent: 1em;
  background: #fff;
}

.tpl_compiled_view textarea,
.sc_compiled_view textarea {
  resize: none;
  width: calc(100% - 2em);
  height: 90vh;
  margin: 1em;
}

.tpl_compiled_view .CodeMirror,
.sc_compiled_view .CodeMirror {
  height: 90vh;
}

.tpl_compiled_view .CodeMirror pre.CodeMirror-line,
.tpl_compiled_view .CodeMirror pre.CodeMirror-line-like,
.sc_compiled_view .CodeMirror pre.CodeMirror-line,
.sc_compiled_view .CodeMirror pre.CodeMirror-line-like {
  font: 0.9em var(--monospace);
}

/* Static cache calculator */

#sccalc_res {
  font-weight: bold;
}

/* Sorted table */

.sysinfo {
  .sorted-asc:after {
    content: ' ↑';
  }
  .sorted-desc:after {
    content: ' ↓';
  }
}
